<% if(msg != undefined){ %>
    <% const status = Object.keys(msg)[0]; %>
    <% if(status == 'success' ) {%>
        <div class="alert alert-success">
            <%= msg.success[0] %>
        </div>
    <% } %>
        <% if(status == 'error' ) { %>
            <div class="alert alert-danger">
                <ul class="list-group">
                    <% msg.error.forEach(err=>{ %>
                        <li class="list-group-item bg-transparent border-0">
                            <%= err %>
                        </li>
                        <% }) %>
                </ul>
            </div>
        <% } %>
<%}%>