<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div class="d-flex">
            <p id="user-icon" class="user-select-none dropdown-toggle" style="cursor: pointer;">Hello, Developer</p>
            <div class="list-group float-end position-absolute" id="user-container">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    Profile
                </a>
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    Settings
                </a>
                <a href="/logout" class="list-group-item list-group-item-action" aria-current="true">
                    Sign Out
                </a>
            </div>
        </div>
    </div>
</nav>