<%- include('../shared/header') %>

    <div class="container">
        <button id="run-btn">Run</button>
        <div class="container">
            <code>function foo(){</code>
            <code>
    <pre id="code" contenteditable="true" style="border:1px solid black;">
let x = "This piece of code will get executed";
return x;
        </pre>
    </code>
            <code>}</code>  
        </div>

    </div>
    <!-- <script src="src/ace.js" type="text/javascript" charset="utf-8"></script> -->
    <script>
        // var editor = ace.edit("editor");
        // editor.setTheme("ace/theme/monokai");
        // editor.session.setMode("ace/mode/javascript");
        $('#run-btn').click(function () {
            let f = new Function(document.getElementById("code").innerText);
            f()
        })
    </script>

    <%- include('../shared/footer') %>