<%- include('../shared/header') %>

    <div class="container">
        <button id="run-btn">Run</button>
        <div class="container">
            <code class="language-javascript bg-transparent" id="function-name">function foo(x,y){</code>
            <code class="language-javascript d-block" id="code" contenteditable="true"
                style="border:1px solid black;">    console.log(1);</code>
            <code class="language-javascript bg-transparent" id="function-end">}</code>
            <code>
                <!-- <div id="editor" style="width: 500px; height: 200px;"></div> -->
            </code>
            <div class="container">
                <p>Output</p>
                <div id="output">

                </div>
            </div>
        </div>
    </div>
    <!-- <script src="../src/ace.js" type="text/javascript" charset="utf-8"></script> -->
    <script>
        // var editor = ace.edit("editor");
        // let s =  ace.createEditSession([""]);
        // editor.setSession(s);
        // editor.setTheme("ace/theme/monokai");
        // editor.session.setMode("ace/mode/javascript");
        // editor.resize()
        // editor.session.replace(new ace.Range(0, 0, 1, 0), "new text");
        $('#run-btn').click(function (e) {
            // console.log(editor.session.getTextRange(editor.getSelectionRange())); 
            // console.log($('.ace_line:last-child'));
            e.preventDefault();
            let foo = Function('x','y',document.getElementById('code').innerText);
            var logger = document.getElementById('output');
            logger.innerHTML = "";
            if (!console) {
                console = {};
                // console.log(f(1,2));
            }
            var old = console.log;
            console.log = function (message) {
                if (typeof message == 'object') {
                    logger.innerHTML += (JSON && JSON.stringify ? JSON.stringify(message) : String(message)) + '<br />';
                } else {
                    logger.innerHTML += message + '<br />';
                }
            }
            console.log(foo(1,2));
            console.log(foo(2,2));
            // f()

        })
    </script>

    <%- include('../shared/footer') %>