<%- include('../shared/header') %>
    <% if(roles.indexOf('admin') !==-1) { %>
        <div class="container my-3">
            <a href="/new_level" class="btn btn-primary">Create Level</a>
        </div>
        <% } %>


            <%- include('../shared/footer') %>