<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button type="button" id="run">Run</button>
    <div id="code" contenteditable="true" style="border: 1px solid black; height: 50px;"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script async type="text/javascript" src="https://cdn.jsdelivr.net/npm/php-wasm/php-tags.jsdelivr.mjs"></script>
    <script>
        $(document).ready(async function () {
            const { PhpWeb } = await import('https://cdn.jsdelivr.net/npm/php-wasm/PhpWeb.mjs');
            const php = new PhpWeb;
            $(document).on('click', '#run', function () {
                let code = $("#code").text();
                console.log("<?php " + code)
                // php.addEventListener('ready', () => {
                php.run(`<?php ${code}`);
                // })
            })
            php.addEventListener('output', (event) => {
                console.log(event.detail)
            });
            php.addEventListener('ready', () => {
                php.run('<?php echo "Hello, world!";');
            });
        })
    </script>
</body>

</html>