*{
    /* padding:0px; */
    /* margin:0px; */
    /* outline:1px solid black; */
}

#user-container{
    top: 35px;
    right: 10px;
    z-index: 99;
}
#editor { 
    width: 500px;
    height: 500px;
}