<%- include('shared/header') %>
    <div class="container">
        <div class="container position-absolute top-50 start-50 translate-middle w-50">
            <h1 class="text-center">Create Account</h1>
            <form action="/createAccount" method="post">
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" name="firstName" required class="form-control" id="firstName" placeholder="John" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" name="lastName" required class="form-control" id="lastName" placeholder="Smith" autocomplete="off" >
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" required class="form-control" id="email" placeholder="john.smith@example.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" required class="form-control" id="password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <label for="password_confirm" class="form-label">Confirm Password</label>
                    <input type="password" name="password_confirm" required class="form-control" id="password_confirm" placeholder="Password">
                </div>
                <div class="text-center">
                    <input type="submit" value="Create Account" class="btn btn-primary w-50">
                    <p class="mt-1">
                        <a href="/">Already have account? Click Here</a>
                    </p>
                </div>
            </form>
            <!-- <a href="/auth/google">Log In using Google</a> -->
        </div>
        </head>

        <body>
    </div>
    <%- include('shared/footer') %>