<%- include('../shared/header') %>
    <div class="container">
        <h1>Login</h1>
        <form action="/insertCar" method="post">
            Name<input type="text" name="name" id="">
            Brand <input type="text" name="brand" id="">
            <input type="submit" value="Submit">
        </form>
    </div>
<%- include('../shared/footer') %>